body{
    background:#f0f5f5;
}

#nav{
    
}
button{
    background:#e6e6ff;
    border: 0 solid transparent;
    margin-bottom: 1px;
}
button:hover{
    cursor: pointer;
    background: #ccccff;
}
button:focus{
    background:#e6e6ff;
}
.container{
    padding-top: 4%;
    padding-bottom: 1%;
    padding-left: 0%;
    padding-right: 0%;
}
#mapcontainer{
    height: 650px;
    background: lightgray;
}
#mainpad{
    height: 650px;
    background: white;
}

#uoption{
    width: 80%;
    margin-left: 10%;
    background: white;
    margin-top: 2%;
    text-align: center;
}
#uoption:hover{
    cursor: pointer;
}

#mypopup{
    position:absolute;
    width: 30%;
    height: 78%;
    left:2%;
    top:-65%;
    background: white;
    box-shadow:  0px 2px 2px gray;
    z-index: 20;
    border-radius: 5px;
    padding-right: 2%;
    padding-left: 2%;
    
}
#mypopup-title{
    position:relative;
    width:100%;
    height:20%;
    font-size:18px;
   /* border-bottom: 1px solid black;*/
    color:black;
    font-size: 30px;
    text-align: center;
    
    
}
#mypopup-body{
    position:relative;
    width:100%;
    height:60%;
    border:1px solid black;
   
}

.button-welcome{
    width:80%;
    margin-left:10%;
    margin-top:2%;
    border: 1px solid activecaption;
}
.district-result{
    width:100%;
    background:white;
    color:green;
    height:10%;
}
.district-result:hover{
    font-weight:bold;
    cursor:pointer;
}

#mypopup-footer{
    position:relative;
    width:100%;
    height:20%;
    /*border:1px solid black;*/
}
#mypopup-service{
    
}

#loader{
    position:absolute;
    left:50%;
    top:30%;
    z-index:20; 
}
.mainpad-icon{
    position:relative;
    width:80px;
    height:80px;
    left:50%;
    opacity:0.5;
}
.mainpad-icon:hover{
    cursor: pointer;
    border:1px solid blue;
    
}